	*{
		margin: 0px;
		padding: 0px;
	}

	#contact-image{
		width: 100%;
		height: 30vh;
		background-repeat: no-repeat;
		background-attachment: scroll;
		background-position: center center;
		background-size: cover;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
	}

	.contact-text h1{
		padding-top: 20px;
		padding-bottom: 0px;
		color: #e66001;
		font-family: 'Roboto', sans-serif;
	}

	#carousel-card{
		padding-top: 30px;
		padding-bottom: 30px;
	}

	#image-one{
		padding-left: 0px;
		padding-right: 0px;
		margin-top: -30px;
		overflow: hidden;
	}

	#product-box{
		padding-top: 30px;
		padding-bottom: 30px;
	}

	#item{
		padding-top: 10px;
		margin-top: 10px;
	}

	#item ul{
		margin-bottom: 0px;
	}

	#item ul li{
		width: 30%;
		font-family: 'Roboto', sans-serif;
		vertical-align: middle;
	}

	.price{
		color: #e66001;
		font-family: 'Roboto', sans-serif;
	}

	#item button{
		background: #e66001;
		color: #fff;
		padding-top: 3px;
		padding-bottom: 3px;
		font-family: 'Roboto', sans-serif;
		border: 2px solid #e66001;
		-webkit-transition: all .3s;
		-moz-transition: all .3s;
		-o-transition: all .3s;
	}

	#item button:hover{
		background: #fff;
		color: #e66001;
		border: 2px solid #e66001;
	}

	#item p{
		margin-top: 10px;
	}

	.line{
		width: 100%;
		border-top: 2px solid #e66001;
		margin-top: 10px;
	}

	#product-box nav ul li{
		border: 1px solid #e66001;
	}
	
	#product-box nav ul li a{
		color: #e66001;
	}

	#image-two{
		padding-left: 0px;
		padding-right: 0px;
		margin-bottom: 30px;
		overflow: hidden;
	}

	.pagination{
		justify-content: center;
		margin-left: 1px;
	}

	.modal-dialog{
		border: 12px solid #e66001;
	}

	#exampleModal1{
		font-family: 'Roboto', sans-serif;
	}

	.modal-header{
		position: relative;
	}

	.modal-title{
		max-width: 200px;
		vertical-align: top;
		font-weight: 800;
	}

	#prica{
		position: absolute;
		right: 50px;
		top: 20px;
		color: #e66001;
		font-weight: 800;
		margin-right: 5px;
	}

	.modal-p{
		font-weight: 600;
	}

	#exampleModal1 select{
		border: 1px solid #e66001;
		width: 100%;
		border-radius: 10px;
		padding-top: 8px;
		padding-bottom: 8px;
	}

	#exampleModal1 input[type="number"]{
		border: 1px solid #e66001;
		float: right;
		width: 60px;
		margin-left: 50px;
		border-radius: 10px;
	}

	#exampleModal1 textarea{
		width: 100%;
		border: 1px solid #e66001;
		border-radius: 10px;
		text-indent: 15px;
	}

	#exampleModal1 button{
		background: #e66001;
		color: #fff;
		border: 2px solid #e66001;
		-webkit-transition: all .3s;
		-moz-transition: all .3s;
		-o-transition: all .3s;
	}

	#exampleModal1 button:hover{
		color: #e66001;
		background: #fff;
	}

	.extras{
		margin-top: 20px;
	}

	.modal-body h5{
		font-weight: 800;
	}

	.chee {
	    display: block;
	    position: relative;
	    padding-left: 35px;
	    margin-bottom: 12px;
	    margin-top: 10px;
	    padding-top: 3px;
	    cursor: pointer;
	    font-size: 16px;
	    -webkit-user-select: none;
	    -moz-user-select: none;
	    -ms-user-select: none;
	    user-select: none;
	}

	.chee input {
	    position: absolute;
	    opacity: 0;
	    cursor: pointer;
	}

	.checkmark {
	    position: absolute;
	    top: 0;
	    left: 0;
	    height: 25px;
	    width: 25px;
	    background-color: #fff;
	    border: 1px solid #e66001;
	    border-radius: 5px;
	}

	.chee input:checked ~ .checkmark {
	    background-color: #e66001;
	}

	.checkmark:after {
	    content: "";
	    position: absolute;
	    display: none;
	}

	.chee input:checked ~ .checkmark:after {
	    display: block;
	}

	.chee .checkmark:after {
	    left: 9px;
	    top: 5px;
	    width: 5px;
	    height: 10px;
	    border: solid white;
	    border-width: 0 3px 3px 0;
	    -webkit-transform: rotate(45deg);
	    -ms-transform: rotate(45deg);
	    transform: rotate(45deg);
	}

	
/**
* Everything beyond the first media tag refers to mobile versions in portrait mode.
* Css for mobile and tablet devices relates to all media tags up to 1023px browser width.
**/

@media (min-width: 544px) {

	#contact-image{
		width: 100%;
		height: 50vh;
		background-repeat: no-repeat;
		background-attachment: scroll;
		background-position: center center;
		background-size: cover;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
	}

	.contact-text h1{
		padding-top: 20px;
		padding-bottom: 0px;
		color: #e66001;
		font-family: 'Roboto', sans-serif;
	}

	#image-two{
		margin-bottom: 30px;
	}

 }

@media (min-width: 768px) {

	#contact-image{
		width: 100%;
		height: 60vh;
		background-repeat: no-repeat;
		background-attachment: scroll;
		background-position: center center;
		background-size: cover;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
	}

	#image-one{
		padding-left: 0px;
		padding-right: 0px;
		margin-top: -30px;
		overflow: hidden;
	}

 }

@media (min-width: 992px) {

	#contact-image{
		width: 100%;
		height: 50vh;
		background-repeat: no-repeat;
		background-attachment: scroll;
		background-position: center center;
		background-size: cover;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
	}

 }



/**
* From here we start with styling the site for desctop devices. 
**/

@media (min-width: 1200px) {

	#contact-image{
		width: 100%;
		height: 50vh;
		background-repeat: no-repeat;
		background-attachment: scroll;
		background-position: center center;
		background-size: cover;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
	}

	.contact-text h1{
		padding-top: 40px;
		padding-bottom: 0px;
		color: #e66001;
		font-size: 3rem;
		font-family: 'Roboto', sans-serif;
	}

	#image-two{
		margin-bottom: 30px;
	}


 }